<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- CSS only -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <% var searchValue="" %>
    <header>
        <!-- As a heading -->
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand ml-4" style = "font-size: xx-large; font-weight: bold;">  Tools.com</span>
            <div id="navbarNav">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" style="color: White ;" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: White ;" href="/articles/new"> New Article </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: White ;" href="/blogs"> All Articles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: White ;" href="/aboutus"> About Us</a>
                    </li>
                    <div class="form-inline">
                      <input value="<%= searchValue %>" class="form-control mr-sm-2" type="search" id="search" placeholder="Search" aria-label="Search">
                      <a href="articles/<%= searchValue %>" class="btn btn-outline-success my-2 my-sm-0">Search</a>
                    </div>
                  </ul>
              </div>
        </nav>
        <% if(!notRenderImg){ %>
          <img src="/static/Tools.jpg" class="img-fluid" width="1300" height="500">
       <% } %>
      
        <% if(!notRenderImg){ %>
          <div class="container mt-5 ">
            <h2 style=" font-weight: bold;"  > About Air Compressors </h2>
        <img src="/static/compressor.jpg " class="float-right" width=" 285" height = "250">
        <blockquote class="blockquote">
          <p>The Tools.com blog is a great resource for anyone who wants to stay informed about the latest developments in the world of tool manufacturing. By reading the blog posts from experts in the field, you can learn about new products and technologies that can make your work easier and more efficient. In addition, by sharing your own experiences and observations, you can help other readers to make more informed decisions about their own tools and equipment. Whether you’re a professional contractor or a hobbyist who likes to work on home improvement projects, the Tools.com blog can be a valuable resource for information and inspiration.</p>
        </blockquote>
      </div>
        <% } %>
       
      <div class="container mt-5 ">
        <h2 class="text-center" style=" font-weight: bold;"  > Buying Guides For Air Compressors </h2>
      </div>
</div>
    </header> 
    <div class="container">

        <% articles.forEach(article => { %>
            <div class="card mt-5">
                <div class="card-body" style="background-color:rgba(35, 32, 32, 0.908) ; color:White; border-radius: 15px;">

                    <h4 class="card-title"><%= article.title %></h4>

                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-subtitle text-muted mb-2">
                      <%= article.description %>
                  </div>

                    <span class="d-inline-block text-truncate" style="max-width: 1000px;">
                      <%= article.markdown %>
                    </span>

                    <!--<a href="articles/<%= article.id %>" class="btn btn-primary">Read More</a>-->
                    <div class="row d-flex justify-content-around">
                    <a href="articles/<%= article.slug %>" class="btn btn-primary" style="min-width: 300px">Read Article</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info" style="min-width: 300px">Edit</a>

                    <!--see video at 49:00 to understand why this is used instead of a regular link and why it's not good to delete with GET; Google clicks each and every single link and will thus delete everything on your database -->
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger" style="min-width: 300px">Delete</button>
                    </form>
                  </div>

                </div>
            </div>
        <% }) %>
            

    </div> <!--fin container-->

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <footer class="bg-dark text-center text-white mt-5">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
  
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white"> Tools.com By Hunaid Wasim</a>
        </div>
        <!-- Copyright -->
      </footer>
        
      </div>
      <script>
        function clickhandle(event) { console.log("hi")}
      </script>
</body>
</html>